.reveal {
  font-size: 40px;
}

/* align left */
.reveal .slides section {
  text-align: left;
}


.reveal .custom-white-text {
    color: white;
}

.reveal .custom-blue-text {
    color: blue;
}

.reveal .custom-aqua-text {
    color: aqua;
}

.reveal .custom-yellow-text {
    color: yellow;
}

.reveal .custom-navy-text {
    color: navy;
}
