.reveal {
  font-size: 36px;
}

.reveal .custom-white-text {
    color: white;
}

.reveal .custom-blue-text {
    color: blue;
}

.reveal .custom-aqua-text {
    color: aqua;
}

.reveal .custom-yellow-text {
    color: yellow;
}

.reveal .custom-navy-text {
    color: navy;
}
