.reveal {
  font-size: 40px;
}

.reveal h1 {
    text-align: center;
}

.reveal h2 {
    text-align: left;
}

/* align left */
.reveal .slides section {
  text-align: left;
}

.reveal .custom-white-text {
    color: white;
}

.reveal .custom-blue-text {
    color: blue;
}

.reveal .custom-aqua-text {
    color: aqua;
}

.reveal .custom-yellow-text {
    color: yellow;
}

.reveal .custom-navy-text {
    color: navy;
}

.reveal .custom-aliceblue-text {
    color: aliceblue;
}

.reveal .custom-crimson-text {
    color: crimson;
}

.reveal .custom-black-text {
    color: black;
}

.reveal .custom-maroon-text {
    color: lightcyan;
}
