name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: ["main"] # Run whenever the branch main changes
  workflow_dispatch:   # Allow run from the tab Actions manually

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install sphinx sphinx-revealjs atsphinx-color-text
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build Sphinx
        run: sphinx-build -b revealjs ./source ./build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build # Upload content in the folder build

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
